@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar {
    scrollbar-color: #B125B1 #1e293b;
  }

  .scrollbar::-webkit-scrollbar {
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #B125B1;
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #ccc;
  }
}
